.dropdown{
	height: 40px;
	border-radius: 10px;
	background-color: var(--gray);
	position: relative;
		@media (max-width: 1100px) {
				margin-right:5px;
			}

		@media (max-width: 630px) {
			margin: 0 10px;
		}

		&Header {
			padding: 10px;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			p {
				color: var(--white);
				width: 190px;
			}
		}

		&Body {
			transition: all 0.2s;
			width: 190px;
			height: 66px;
			margin-top: 7px;
			border-radius: 10px;
			position: absolute;
			background: var(--gray);
			top: -400px;
			visibility: 0;
		}

		&Open {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			align-items: center;
			justify-content: center;
			align-items: center;
			font-size: 14px;
			color: var(--white);
			top: 40px;
			visibility: 1;
		}

		&Item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-left: 13px;
			padding-right: 4px;
			:hover {
				cursor: pointer;
			}

			&Icon {
					width: 25px;
					height: 25px;
				&Selected * {
					opacity: 1;
					fill: var(--white);
					transition: all 0.3s;
				}
			}

			&Dot {
				width: 10px;
				height: 10px;
				border-radius: 5px;
				background: var(--gray);
				margin-right: 7px;

				&Selected {
					background: var(--white);
					opacity: 0.5;
				}
			}
		}

		&Icon {
			font-size: 13px;
			color: #91A5BE;
			transform: rotate(0deg);
			&Open {
					transition: all 0.3s;
					transform: rotate(180deg);
				}
		}
}

.category {
	min-width: 150px;
		@media (max-width: 1100px) {
				// margin: 0 7px;
		}

}

.order {
	min-width: 50px;
	
}