.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 10px;
	margin-bottom: 20px;

	.top {
		display: flex;
		justify-content: center;
		width: 100%;

	}

	.bottom {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 90px;
		margin-top: 10px;

		.sort {
			display: flex;
			justify-content: center;
			
		}
	}

	.btnHome {
		height: 40px;
		width: 40px;
		fill: var(--white);
	}

	@media (max-width: 829px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 90px;
		height: 100px;
		.top {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
		.bottom {
			justify-content: space-between;
		}
	}

	@media (max-width: 630px) {
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		height: 150px;
		.top {
				display: flex;
				justify-content: space-between;
				width: 290px;
			}
		.bottom {
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
		}
	}
}






