.button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--white);
	background: var(--gray);
	min-width: 135px;
	max-width: 140px;
	width: 140px;
	height: 40px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: all 0.4s;
	padding: 0 5px;
	&:hover {
		background: var(--dark-green);
		transform: scale(1.03);
		div {
			background: var(--white);
			color: var(--dark)
		}
	}

	.numberContainer {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		background: var(--dark-green);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}